USE [master]
GO
/****** Object:  Database [serilont]    Script Date: 23/02/2017 11:43:09 ******/
CREATE DATABASE [serilont]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'serilont', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\serilont.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'serilont_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\serilont_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [serilont].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [serilont]
GO
/****** Object:  DatabaseRole [superadmin]    Script Date: 23/02/2017 11:43:09 ******/
CREATE ROLE [superadmin]
GO
/****** Object:  Table [dbo].[Usuaris]    Script Date: 23/02/2017 11:43:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuaris](
	[id_usuari] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](9) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[data_naixement] [date] NULL,
	[sexe] [nvarchar](4) NULL,
 CONSTRAINT [PK_Usuaris] PRIMARY KEY CLUSTERED 
(
	[id_usuari] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Taula d''usuaris.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usuaris'
GO
USE [master]
GO
